<!--every page has a navbar...-->>
<nav-bar></nav-bar>

<!--if no entries for today, display a message and the button-->
<div *ngIf="hasEntriesToday===false" class="container">
    <h3>No entries yet today</h3>
</div>

<!--display today's entries if there are any-->
<div *ngIf="hasEntriesToday===true" class="container">
    <h3>Today's journal:</h3>
    <table class="table table-hover">
        <thead>
            <th>Food name</th>
            <th>Number of servings</th>
            <th>calories</th>
            <th>proteins</th>
            <th>fats</th>
            <th>carbs</th>
            <th colspan = "6"></th>
        </thead>
        <tbody>

            <tr *ngFor="let foodItem of todayFoods; let i = index;" >
                <td>{{foodItem.name}}</td>
                <td>{{todayEntries[i].serving_amt}}</td>
                <td>{{foodItem.servings[0].calories*todayEntries[i].serving_amt}}</td>
                <td>{{foodItem.servings[0].protein*todayEntries[i].serving_amt}}</td>
                <td>{{foodItem.servings[0].fat*todayEntries[i].serving_amt}}</td>
                <td>{{foodItem.servings[0].carbohydrate*todayEntries[i].serving_amt}}</td>
        </tbody>
    </table>
</div>
