<!--every page has a navbar...-->>
<nav-bar></nav-bar>

<!--if no entries for today, display a message and the button-->
<div *ngIf="hasEntriesToday===false" class="container">
    <h3>No entries yet today</h3>
</div>

<!--display today's entries if there are any-->
<div *ngIf="hasEntriesToday===true" class="container">
    <h3>Today's journal:</h3>
    <table class="table table-hover">
        <thead>
            <th>Food name</th>
            <th>Number of servings</th>
            <th>calories</th>
            <th>proteins</th>
            <th>fats</th>
            <th>carbs</th>
            <th colspan = "6"></th>
        </thead>
        <tbody>

            <tr *ngFor="let item of todayFoods.entries()" >
                <td>{{item[1].name}}</td>
                <td>{{item[0].serving_amt}}</td>
                <td>{{item[1].servings[0].calories}}</td>
                <td>{{item[1].servings[0].protein}}</td>
                <td>{{item[1].servings[0].fat}}</td>
                <td>{{item[1].servings[0].carbohydrate}}</td>
        </tbody>
    </table>
</div>
