<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NutritioKnights</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
    </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.2.4/swiper-bundle.css" integrity="sha512-303pOWiYlJMbneUN488MYlBISx7PqX8Lo/lllysH56eKO8nWIMEMGRHvkZzfXYrHj4j4j5NtBuWmgPnkLlzFCg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.2.4/swiper-bundle.min.css" integrity="sha512-olodyt/aRzIO9o/gZkW0xrVyYDFtBZ+PjH/T/o74P4jLADOwHqyB8LGmcqbbiaWnlsn1VYEadotewGO3y4Y3fQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="hero">
    <div class="navbar">
       <img src= "../../../assets/logo.png" class="logo">
       <auth></auth>
    </div>
    <div class="content">
      <small>Welcome to</small>
      <h1>Nutritio Knights</h1>
      <p class="description">A food tracker app to make your life easier</p>
      <button class="Sign-up"type ="button">Learn More</button>
    </div>
  </div>
  
  <section class="about-us">
    <h2>What is Nutritio Knights?</h2>
    <p>Nutritio Knights is a platorm that warriors will unite to defeat evil monsters that threaten the kingdom.</p>

    <div class="row">
      <div class="feature-col">
        <img src="../../../assets/katja-grasinger-4tPjtttythY-unsplash (1).jpg">
        <h3>Find a Diet you love</h3>
        <p>Find a nutritious Diet that fits your lifestyle and food preferences. Take charge of your daily habits with one of the many ongoing Diets including Clean Eating and High Protein.</p>
      </div>
      <div class="feature-col">
        <img src="../../../assets/LOGOBET (1).png" alt="">
        <h3>Defeat Monster to compete</h3>
        <p>A User have to complete their calorie goal to attack the monster. Failure to do so monster will attack the user that would reduce health.</p>
      </div> 
      <div class="feature-col">
        <img src="../../../assets/hope-house-press-leather-diary-studio-PJzc7LOt2Ig-unsplash.jpg" alt="">
        <h3>Start a simplified Meal Plan</h3>
        <p>Depending on your health goals, there are many Meal Plans to choose from including Veg and non-Veg</p>
      </div>

    </div>
  </section>

  <div class="team-title">
  <h2>Our Team</h2>

</div>
<div class="wrapper">

  <div class="team">
    <div class="team_member">
      <img src="../../../assets/Snapseed.jpg" alt="" srcset="">
        <h4>Eric Phu</h4>
        <p class="role">Team Lead</p>
        <p>Set up the REST controllers for the Backend (User Info, Avatar, Fight, Avatar, Fight). Worked on fight logic. Deployed Jar file to beanstalk. Front end. Hosted Auth0. Set up logic of the front page, home page, questionnaire, Nav bar ,and fight page. Deployed front end on EC2.</p>
    </div>
    <div class="team_member">
        <img src="../../../assets/f18e08d9-5d88-4c2d-add0-debda71d4a61.jpg" alt="" srcset="">
      <h4>Nouman Mohammed</h4>
        <p class="role">Front End Lead Developer</p>
        <p>Nouman helped to implement Auth0, created backbone for front end how it going to look like. And added all the styles to the pages.</p>
    </div>
    <div class="team_member">
        <img src="../../../assets/IMG_0704.jpg" alt="" srcset="">
      <h4>Will Marquardt</h4>
        <p class="role">Full Stack Developer</p>
        <p>Frontend: Set up journal logic, models, and services. Backend: modified, packaged, and inserted dependencies for external API library to make calls, set up REST controllers for food items and journal entries. </p>
    </div>
    <div class="team_member">
        <img src="../../../assets/WhatsApp_Image_2020-10-03_at_9.20.26_PM.jpeg" alt="" srcset="">
      <h4>Pelin Akbiyik</h4>
        <p class="role">Front End Developer</p>
        <p>Pelin wrote down user stories using As a [role], I can/want to [feature/functionality] so that [reason] template. That helped with having a strong foundation for our project.
          I built questionnaire in VSC and beautified it.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.2.4/swiper-bundle.min.js" integrity="sha512-Hvn3pvXhhG39kmZ8ue3K8hw8obT4rfLXHE5n+IWNCMkR6oV3cfkQNUQqVvX3fNJO/JtFeo/MfLmqp5bqAT+8qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>