.container {
     /* margin-top: 10px;  */
    display: flex; 
    flex-direction: column;  
    justify-content: center;   
    align-items: center;   

  }
  body{
    background-image: url("../../../assets/images/image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom 0px center;
   
  
  }