<auth></auth>
<form class="mb-3">
    <form (ngSubmit)="processForm(newHealthForm)" #newHealthForm="ngForm">
        <div class="mb-3">

    <label for="exampleFormControlInput1" class="form-label">Username</label>
    <input [(ngModel)]="questionair.username" name="username-name" #name="ngModel" type="text" class="form-control" id="exampleFormControlInput1" placeholder="username" required>
    <label for="exampleFormControlInput1" class="form-label">Firstname</label>
    <input [(ngModel)]="questionair.firstname" name="firstname-name" #name="ngModel" type="text" class="form-control" id="exampleFormControlInput1" placeholder="firstname"required>
    <label for="exampleFormControlInput1" class="form-label">Lastname</label>
    <input [(ngModel)]="questionair.lastname" name="lastname-name" #name="ngModel"type="text" class="form-control" id="exampleFormControlInput1" placeholder="lastname"required>
    <label for="exampleFormControlInput1" class="form-label">Age</label>
    <input [(ngModel)]="questionair.age" name="age-name" #name="ngModel"type="text" class="form-control" id="exampleFormControlInput1" placeholder="age"required>    

 </div>

<select [(ngModel)]="questionair.sex" name="sex-name" #name="ngModel"requiredclass="form-select" id="specificSizeSelect">

    <option selected value=0>0</option>
    <option [ngValue]=-2>-2</option>
    <option [ngValue]=-1>-1</option>
    <option [ngValue]=1>1</option>
    <option [ngValue]=2>2</option>
        
</select>

<br>
<br>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Current Weight in kg</label>
    <input [(ngModel)]="questionair.currentweight" name="currentweight-name" #name="ngModel"type="text" class="form-control" placeholder="kg." aria-label="kg." id="exampleFormControlInput1"required>
       

</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Height in cm</label>
    <input [(ngModel)]="questionair.height" name="height-name" #name="ngModel" type="text" class="form-control" placeholder="cm." aria-label="cm." id="exampleFormControlInput1"required>
</div>

<select [(ngModel)]="questionair.dietplan" name="dietplan-name" #name="ngModel"class="form-select" id="specificSizeSelect">
    <option selected>What is your diet plan?</option>
    <option value="1">High Protein</option>
    <option value="2">High carbs</option>
    <option value="3">High fat</option>    
</select>
<br>
<br>
<select [(ngModel)]="questionair.howmuchlose" name="howmuchlose-name" #name="ngModel"class="form-select" id="specificSizeSelect">
    <option selected>How much do you want to lose or gain per week?</option>
    <option value="1">-2Ibs</option>
    <option value="2">-1Ibs</option>
    <option value="3">0</option>
    <option value="4">1Ibs</option>
    <option value="5">2Ibs</option>
</select>

<br>

<div class="form-group">
    <div *ngIf="displayFormSubmitError" style="color: red">
        <br>
        There's something wrong with your form
    </div>

    <br>

    <input type="submit" value="Submit" class="btn btn-success">
</div>
</form>
</form>
