
<nav-bar></nav-bar>
<body>


<div class="container">
 
<!-- <form class="mb-3">
    <form (ngSubmit)="processForm(newHealthForm)" #newHealthForm="ngForm"> -->
        <div class="mb-3">
        <br>
        <br>
        <br>
        <br>
    <label for="exampleFormControlInput1" class="form-label">Username</label>
    <input [(ngModel)]="questionair.username" name="username-name" #name="ngModel" type="text" class="form-control" id="exampleFormControlInput1" placeholder="username" required>
    <label for="exampleFormControlInput1" class="form-label">Firstname</label>
    <input [(ngModel)]="questionair.firstname" name="firstname-name" #name="ngModel"type="text" class="form-control" id="exampleFormControlInput1" placeholder="firstname"required>
    <label for="exampleFormControlInput1" class="form-label">Lastname</label>
    <input [(ngModel)]="questionair.lastname" name="lastname-name" #name="ngModel" type="text" class="form-control" id="exampleFormControlInput1" placeholder="lastname" required>
    <label for="exampleFormControlInput1" class="form-label">Age</label>
    <input [(ngModel)]="questionair.age" name="age-name" #name="ngModel" type="number" class="form-control" id="exampleFormControlInput1" placeholder="age" required (change)="onChange($event)">    

 </div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Current Weight in kg</label>
    <input [(ngModel)]="questionair.currentweight" name="weight-name" #name="ngModel" type="number" class="form-control" placeholder="kg." aria-label="kg." id="exampleFormControlInput1" required (change)="onChange($event)">
       

</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Height in cm</label>
    <input [(ngModel)]="questionair.height" name="height-name" #name="ngModel"  type="number" class="form-control" placeholder="cm." aria-label="cm." id="exampleFormControlInput1" required (change)="onChange($event)">
</div>

<select [(ngModel)]="questionair.howmuchlose" name="lose-name" type="number" #name="ngModel" class="form-select" id="specificSizeSelect" required (change)="onChange($event)">
    <option selected [ngValue]=-1000>Target Calories loss or gain per week</option>
    <option [ngValue]=0> 0 Pounds Loss</option>
    <option [ngValue]=-1>1 Pounds Loss</option>
    <option [ngValue]=-2>2 Pounds Loss</option>
    <option [ngValue]=1>1 Pound Gain</option>
    <option [ngValue]=2>2 Pounds Gain</option>
</select>
<br>
<select [(ngModel)]="questionair.dietplan" name="dietPlan-name" #name="ngModel"  class="form-select" id="specificSizeSelect" required (change)="onChange($event)">
    <option selected>What is your diet plan?</option>
    <option value="Balance">Balance</option>
    <option value="High Protein">High Protein</option>
    <option value="High Carb">High Carbs</option>
    <option value="High Fat">High Fat</option>    
</select>
<br>
<select  [(ngModel)]="questionair.sex" name="sex-name" type="text" #name="ngModel" class="form-select" id="specificSizeSelect" (change)="onChange($event)" >

    <option selected>Sex</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="Intersex">Intersex</option>
        
</select>

<br>


            <div *ngIf="!canCalTargetCalsError && targetCals !==0" style="color: green">
                <br>
                Target Calorie per day is: 
            </div>
            <div *ngIf="!canCalTargetCalsError && targetCals !==0" style="color: green"> {{targetCals}} </div>
            

    <br>


    <div class="form-group">
        <div *ngIf="displayFormSubmitError || errorForm" style="color: red">
            <br>
            There's something wrong with your form
        </div>

            <button class="btn btn-success"
                (click)="processForm(questionair)">Finish Form</button>

           
        </div>

</div>
</body>

